<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xna.Framework.Content.Pipeline" publicKeyToken="842cf8be1de50553" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Willcraftia.Win.Xna.Framework" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Willcraftia.Xna.Framework.Content" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Willcraftia.Xna.Framework.Content.Pipeline" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.diagnostics>
    <sources>
      <source name="Willcraftia.Content.Studio" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="app"/>
          <add name="file"/>
        </listeners>
      </source>
      <source name="Willcraftia.Xna.Framework.Content.Build" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
          <listeners>
            <add name="app"/>
            <add name="file"/>
          </listeners>
        </source>
    </sources>
    <switches>
       <!--You can set the level at which tracing is to occur--> 
      <!--<add name="SourceSwitch" value="All"/>-->
      <add name="SourceSwitch" value="Information"/>
      <!--You can turn tracing off--> 
      <!--add name="SourceSwitch" value="Off"--> 
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
      <add name="app" type="Willcraftia.Content.Studio.AppTraceListener, Willcraftia.Content.Studio"/>
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<add name="app"/>-->
        <add name="file"/>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
